/* GENERAL START */
:root {
  --raisin-black: #282425;
  --yellow: #f9c822;
  --lightgreen: #00a64e;
  --pink: #f6a4af;
  --lightblue: #8fd4d5;
  --red: #d6322f;
}
@font-face {
  font-family: "Niramit";
  src: url("src/niramit.otf") format("opentype"); /* Adjust path if needed */
}
@font-face {
  font-family: "Holen Vintage";
  src: url("src/Holen%20Vintage.otf") format("opentype"); /* Adjust path if needed */
}
h1 {
  font-size: 15.97vw;
  font-weight: 400;
  line-height: 0.83;
  letter-spacing: -4px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
}
h1.hero-title {
  font-size: 20.83vw;
  padding-right: 13.89vw;
  width: max-content;
  white-space: nowrap;
  margin: 2.36vw 0 0;
  clip-path: inset(-10% 0 10% 0);
}
h1 .line,
h2 .line {
  transform-origin: bottom left;
}
h2 {
  font-size: 6.94vw;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -4px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
}
h2 img {
  height: 5vw;
  scale: 1.4;
  padding-inline: 1.56vw;
}
h3 {
  font-size: 4.17vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -2px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
}
h4 {
  font-size: 2.78vw;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -1.5px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
}
h5 {
  font-size: 1.67vw;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: -0.5px;
  margin: 0;
}
p {
  font-weight: 700;
  margin: 0;
}
small {
  font-size: max(10px, 0.69vw);
  line-height: 1.2;
}
a {
  color: var(--raisin-black);
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.11vw;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.5px;
  margin: 0;
  font-family: "Niramit", sans-serif;
  color: var(--raisin-black);
  background-color: var(--yellow);
  --sb-track-color: white;
  --sb-thumb-color: var(--raisin-black);
  --sb-size: 8px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}
body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* GENERAL END */
/* HEADER START */
.sidebars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.left-sidebar,
.right-sidebar {
  background: white;
  display: flex;
  align-items: center;
  width: 100vh;
  height: 3.47vw;
  rotate: 90deg;
  transform-origin: top left;
  transform: translateY(-100%);
  border: 2px solid black;
}
.left-sidebar img:first-child {
  padding: 6px 13px;
}
.left-sidebar p {
  height: 100%;
  padding-inline: 1.46vw;
  display: flex;
  align-items: center;
}
.left-sidebar .lightgreen-yellow-bg {
  height: 100%;
  flex: 1;
}
.right-sidebar {
  transform: translateY(calc(8px - 100vw));
  position: absolute;
  top: 0;
}
.right-sidebar a {
  padding-left: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.right-sidebar a:after {
  content: "";
  display: block;
  height: 3.47vw;
  width: 30px;
  background-image: url(./wp-content/uploads/black-menu-pattern.svg);
  background-size: 300%;
}
.right-sidebar .yellow-lightgreen-bg {
  width: 6.04vw;
  height: 100%;
}
.right-sidebar .lightgreen-yellow-bg,
.right-sidebar .lightblue-purple-bg {
  width: 3.61vw;
  height: 100%;
}
.right-sidebar .pink-purple-bg {
  flex: 1;
  height: 100%;
}
.left-sidebar p,
.right-sidebar a:last-of-type,
.right-sidebar .lightgreen-yellow-bg,
.right-sidebar .pink-purple-bg {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* HEADER END */
/* UTILITY START */
/* BACKGROUND THEN PATTERN */
.lightgreen-yellow-bg {
  background-color: var(--lightgreen);
  background-image: url(./wp-content/uploads/yellow-pattern.svg);
}
.yellow-lightgreen-bg {
  background-color: var(--yellow);
  background-image: url(./wp-content/uploads/lightgreen-pattern.svg);
}
.lightblue-purple-bg {
  background-color: var(--lightblue);
  background-image: url(./wp-content/uploads/purple-pattern.svg);
}
.pink-purple-bg {
  background-color: var(--pink);
  background-image: url(./wp-content/uploads/purple-pattern.svg);
}
/* UTILITY END */
/* FIRST SECTION */
.pinned-hero {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  height: 110vh;
  background-color: var(--yellow);
}
h1.hero-title {
  animation: scrollLeft 15s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.pinned-hero .fact-box {
  margin-left: 75vw;
  max-width: 16ch;
}
.pinned-hero img#main-circle {
  width: 44.4vw;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
  animation: slowRotate 60s linear infinite;
}
@keyframes slowRotate {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(-360deg);
  }
}
.pinned-hero .mountains {
  position: absolute;
}
.pinned-hero #main-plant-right {
  width: 64.58vw;
  right: -8.54vw;
  bottom: 0;
}
.pinned-hero #main-durian-left {
  width: 50.07vw;
  height: auto;
  left: -6.94vw;
  bottom: 0;
}
.pinned-hero #main-green-durian-left {
  width: 50.07vw;
  height: auto;
  left: -6.94vw;
  bottom: 0;
}
.pinned-hero .monkey-container {
  position: absolute;
  bottom: -8.94vw;
  left: 55%;
  transform: translateX(-50%);
}
.pinned-hero img#main-teh-tarik,
.pinned-hero img#teh-tarik-front {
  width: 40vw;
}
.pinned-hero img#teh-tarik-front {
  position: absolute;
  left: 0;
  z-index: 100;
}
.pinned-hero .monkey-container #monkey {
  position: absolute;
  right: 5%;
  top: 40%;
  width: 10.97vw;
  transform-origin: top left;
  animation: hanging 3s linear infinite alternate;
}
@keyframes hanging {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.pinned-hero #lcw {
  right: 10%;
  bottom: 25%;
  width: 18.78vw;
}
.pinned-hero #myvi {
  width: 9.17vw;
  top: 60%;
  left: 24%;
  rotate: 10deg;
}
.pinned-hero #motorbike {
  left: 2vw;
  bottom: 0;
  width: 16vw;
}
.pinned-hero #main-green-coconut {
  width: 28.4vw;
  right: 18.06vw;
  bottom: 0;
}
.bouncer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3vw;
  will-change: transform;
  transform: translate(-50%, -50%); /* optional for center alignment */
}
/* FIRST SECTION END */

/* SECOND SECTION */
.overflow-container {
  overflow: hidden;
}
.pinned-horizontal-section {
  display: flex;
  width: max-content;
}
.pinned-horizontal-section > div {
  height: 100vh;
  height: 100lvh;
  background-size: cover;
}
.pinned-horizontal-section .left-section {
  background-image: url(./wp-content/uploads/recognise-green-bg.webp);
  width: 100vw;
}
.pinned-horizontal-section .text-content {
  display: flex;
  flex-direction: column;
  height: calc(100%);
  padding: 5.56vw 7.64vw;
}
#teh-tarik-aneh {
  position: absolute;
  left: 55vw;
  height: 100vh;
  height: 100lvh;
}
.pinned-horizontal-section .middle-section {
  background-image: url(./wp-content/uploads/recognise-mid-bg.webp);
  width: 25vw;
}
.pinned-horizontal-section .right-section {
  background-image: url(./wp-content/uploads/recognise-yellow-bg.webp);
  width: 90vw;
}
.pinned-horizontal-section .typewriter-box:before {
  content: "";
  display: block;
  background-image: url(./wp-content/uploads/typewriter-box-top-corner.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: -1.9vw;
  left: 0;
  height: 2vw;
  width: 3.19vw;
  position: absolute;
}
.pinned-horizontal-section .typewriter-box {
  margin-top: 2vw;
  background-color: var(--yellow);
  max-width: 55vw;
  padding: 2.92vw 11.11vw 1.39vw 3.06vw;
  background-image: url(./wp-content/uploads/face-starfish.webp);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  transform: translateX(1vw) rotate(-3deg);
}
.pinned-horizontal-section .typewriter-box h3 {
  margin-bottom: 20px;
}
.pinned-horizontal-section .right-section small {
  margin-top: auto;
}
/* SECOND SECTION END */
/* THIRD SECTION */
.national-importance {
  position: relative;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.national-importance .text-content {
  padding: 5.56vw 10.76vw;
  display: flex;
  flex-direction: column;
  gap: 1.39vw;
}
.national-importance .national-blue-mountain,
.national-importance .national-green-mountain {
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.national-importance .national-blue-mountain {
  left: -5vw;
}
.national-importance .national-green-mountain {
  right: -5vw;
}
.national-importance .yellow-mountain {
  width: 100vw;
  z-index: 10;
  position: relative;
}
.national-importance .yellow-mountain-container {
  margin-top: 22vw;
  position: relative;
  bottom: -1vw;
}
.national-importance .hornbill,
.national-importance .hornbill-bg {
  position: absolute;
  left: 50%;
  top: -70%;
  transform: translate(-50%, -100%);
}
.national-importance .hornbill {
  top: 30%;
}
.national-importance .hornbill-bg {
  animation: slowRotate 60s linear infinite;
}
.sugar-rain {
  position: absolute;
  top: -10vw;
}
.sugar-rain.size-1 {
  width: 10vw;
}
.sugar-rain.size-2 {
  width: 7vw;
}
.sugar-rain.speed-1 {
  animation: rainDrop 13s linear infinite;
}
.sugar-rain.speed-2 {
  animation: rainDrop 7s linear infinite;
}
.sugar-rain.speed-3 {
  animation: rainDrop 3s linear infinite;
}
img.sugar-rain:nth-of-type(1) {
  animation-delay: 1s;
}
img.sugar-rain:nth-of-type(2) {
  animation-delay: 2s;
}
img.sugar-rain:nth-of-type(3) {
  animation-delay: 1.5s;
}
img.sugar-rain:nth-of-type(4) {
  animation-delay: 4.2s;
}
img.sugar-rain:nth-of-type(5) {
  animation-delay: 0.1s;
}
img.sugar-rain:nth-of-type(6) {
  animation-delay: 0.7s;
}
img.sugar-rain:nth-of-type(7) {
  animation-delay: 2.5s;
}
img.sugar-rain:nth-of-type(8) {
  animation-delay: 1s;
}
img.sugar-rain:nth-of-type(9) {
  animation-delay: 0s;
}
@keyframes rainDrop {
  0% {
    transform: translateY(0) rotate(-20deg);
  }
  50% {
    transform: translateY(60vw) rotate(0);
  }
  100% {
    transform: translateY(120vw) rotate(20deg);
  }
}
/* THIRD SECTION END */
