/* GENERAL START */
:root {
  --orange: #ff9721;
  --raisin-black: #282425;
  --yellow: #f9c822;
  --lightgreen: #00a64e;
  --pink: #f6a4af;
  --lightblue: #8fd4d5;
  --red: #d6322f;
}
@font-face {
  font-family: "Niramit";
  src: url("src/niramit.otf") format("opentype"); /* Adjust path if needed */
}
@font-face {
  font-family: "Holen Vintage";
  src: url("src/Holen%20Vintage.otf") format("opentype"); /* Adjust path if needed */
}
h1,
h2.large {
  font-size: 15.97vw;
  font-weight: 400;
  line-height: 0.83;
  letter-spacing: -4px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
}
h1.hero-title,
h2.large.hero-title {
  font-size: 20.83vw;
  padding-right: 13.89vw;
  width: max-content;
  white-space: nowrap;
  margin: 2.36vw 0 0;
  clip-path: inset(-10% 0 10% 0);
}
h1 .line,
h2 .line {
  transform-origin: bottom left;
}
h2.medium {
  font-size: 10.42vw;
}
h2 {
  font-size: 6.94vw;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -4px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
  overflow: hidden;
}
h3 {
  font-size: 4.17vw;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -2px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
}
h4 {
  font-size: 2.78vw;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -1.5px;
  font-family: "Holen Vintage", sans-serif;
  margin: 0;
}
h5 {
  font-family: "Holen Vintage", sans-serif;
  font-size: 1.67vw;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: -0.5px;
  margin: 0;
}
h6 {
  font-size: 1.67vw;
  line-height: 1.167;
  font-weight: 700;
  margin: 0;
}
p {
  font-weight: 700;
  margin: 0;
}
small {
  font-size: max(10px, 0.69vw);
  line-height: 1.2;
}
a {
  color: var(--raisin-black);
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.5px;
  margin: 0;
  font-family: "Niramit", sans-serif;
  color: var(--raisin-black);
  background-color: var(--yellow);
  --sb-track-color: white;
  --sb-thumb-color: var(--raisin-black);
  --sb-size: 8px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}
body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* GENERAL END */
/* HEADER START */
.sidebars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.left-sidebar,
.right-sidebar {
  background: white;
  display: flex;
  align-items: center;
  width: 100vh;
  height: 3.47vw;
  rotate: 90deg;
  transform-origin: top left;
  transform: translateY(-100%);
  border: 2px solid black;
}
.left-sidebar img:first-child {
  padding: 6px 13px;
}
.left-sidebar p {
  height: 100%;
  padding-inline: 1.46vw;
  display: flex;
  align-items: center;
}
.left-sidebar .lightgreen-yellow-bg {
  height: 100%;
  flex: 1;
}
.right-sidebar {
  transform: translateY(calc(8px - 100vw));
  position: absolute;
  top: 0;
}
.right-sidebar a {
  padding-left: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.right-sidebar a:after {
  content: "";
  display: block;
  height: 3.47vw;
  width: 30px;
  background-image: url(./wp-content/uploads/black-menu-pattern.svg);
  background-size: 300%;
}
.right-sidebar .yellow-lightgreen-bg {
  width: 6.04vw;
  height: 100%;
}
.right-sidebar .lightgreen-yellow-bg,
.right-sidebar .lightblue-purple-bg {
  width: 3.61vw;
  height: 100%;
}
.right-sidebar .pink-purple-bg {
  flex: 1;
  height: 100%;
}
.left-sidebar p,
.right-sidebar a:last-of-type,
.right-sidebar .lightgreen-yellow-bg,
.right-sidebar .pink-purple-bg {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* HEADER END */
/* UTILITY START */
/* BACKGROUND THEN PATTERN */
.lightgreen-yellow-bg {
  background-color: var(--lightgreen);
  background-image: url(./wp-content/uploads/yellow-pattern.svg);
}
.yellow-lightgreen-bg {
  background-color: var(--yellow);
  background-image: url(./wp-content/uploads/lightgreen-pattern.svg);
}
.lightblue-purple-bg {
  background-color: var(--lightblue);
  background-image: url(./wp-content/uploads/purple-pattern.svg);
}
.pink-purple-bg {
  background-color: var(--pink);
  background-image: url(./wp-content/uploads/purple-pattern.svg);
}
.typewriter-box:before {
  content: "";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./wp-content/uploads/typewriter-box-top-corner.svg);
  top: -1.9vw;
  left: 0;
  height: 2vw;
  width: 3.19vw;
  position: absolute;
}
.typewriter-box {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  background-color: var(--yellow);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}
.typewriter-box.beige:before {
  left: unset;
  right: -2px;
  background-image: url(./wp-content/uploads/typewriter-box-top-corner-beige.svg);
}
.typewriter-box.beige {
  background-color: #f6d3b3;
}
.typewriter-box.red {
  background-color: #e14d39;
  margin-top: 0;
  padding-inline: 10px;
  rotate: -3deg;
}
.typewriter-box.red:before {
  background-image: url(./wp-content/uploads/red-triangle.svg);
  height: 0.63vw;
  width: 0.97vw;
  top: -0.53vw;
}
.typewriter-box.inline {
  display: inline-flex;
  white-space: pre;
  flex-direction: row;
  padding: 0.83vw 1.25vw;
}
.typewriter-box.small:before {
  height: 1vw;
  width: 1.6vw;
  top: -0.9vw;
}
.typewriter-box.small {
  flex-direction: row;
  margin-top: 1vw;
  padding: 0.35vw 1.32vw;
}
/* UTILITY END */
/* FIRST SECTION */
.pinned-hero {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
  height: 110vh;
  background-color: var(--yellow);
}
h1.hero-title,
h2.hero-title {
  animation: scrollLeft 15s linear infinite;
  display: inline-block;
  white-space: nowrap;
}
@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.pinned-hero .fact-box {
  margin-left: 75vw;
  max-width: 16ch;
}
.pinned-hero img#main-circle {
  width: 44.4vw;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
  animation: slowRotateWithX 60s linear infinite;
}
@keyframes slowRotateWithX {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(-360deg);
  }
}
.pinned-hero .mountains {
  position: absolute;
}
.pinned-hero #main-plant-right {
  width: 64.58vw;
  right: -8.54vw;
  bottom: 0;
}
.pinned-hero #main-durian-left {
  width: 50.07vw;
  height: auto;
  left: -6.94vw;
  bottom: 0;
}
.pinned-hero #main-green-durian-left {
  width: 50.07vw;
  height: auto;
  left: -6.94vw;
  bottom: 0;
}
.pinned-hero .monkey-container {
  position: absolute;
  bottom: -8.94vw;
  left: 55%;
  transform: translateX(-50%);
}
.pinned-hero img#main-teh-tarik,
.pinned-hero img#teh-tarik-front {
  width: 40vw;
}
.pinned-hero img#teh-tarik-front {
  position: absolute;
  left: 0;
  z-index: 100;
}
.pinned-hero .monkey-container #monkey {
  position: absolute;
  right: 5%;
  top: 40%;
  width: 10.97vw;
  transform-origin: top left;
  animation: hanging 3s linear infinite alternate;
}
@keyframes hanging {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.pinned-hero #lcw {
  right: 10%;
  bottom: 25%;
  width: 18.78vw;
}
.pinned-hero #myvi {
  width: 9.17vw;
  top: 60%;
  left: 24%;
  rotate: 10deg;
}
.pinned-hero #motorbike {
  left: 2vw;
  bottom: 0;
  width: 16vw;
}
.pinned-hero #main-green-coconut {
  width: 28.4vw;
  right: 18.06vw;
  bottom: 0;
}
.bouncer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3vw;
  will-change: transform;
  transform: translate(-50%, -50%);
}
#sugar1 {
  top: -50%;
  left: 30vw;
}
#sugar8 {
  top: -50%;
  left: 2vw;
}
/* FIRST SECTION END */

/* SECOND SECTION */
.overflow-container {
  overflow: hidden;
}
.pinned-horizontal-section {
  display: flex;
  width: max-content;
}
.pinned-horizontal-section > div {
  height: 100vh;
  height: 100lvh;
  background-size: cover;
}
.pinned-horizontal-section .left-section {
  background-image: url(./wp-content/uploads/recognise-green-bg.webp);
  width: 100vw;
}
.pinned-horizontal-section .text-content {
  display: flex;
  flex-direction: column;
  height: calc(100%);
  padding: 5.56vw 7.64vw;
}
#teh-tarik-aneh {
  position: absolute;
  left: 55vw;
  height: 100vh;
  height: 100lvh;
}
.pinned-horizontal-section .middle-section {
  background-image: url(./wp-content/uploads/recognise-mid-bg.webp);
  width: 25vw;
}
.pinned-horizontal-section .right-section {
  background-image: url(./wp-content/uploads/recognise-yellow-bg.webp);
  width: 90vw;
}
.pinned-horizontal-section .typewriter-box {
  background-image: url(./wp-content/uploads/face-starfish.webp);
  max-width: 55vw;
  min-height: 18vw;
  padding: 2.92vw 11.11vw 1.39vw 3.06vw;
  transform: translateX(1vw) rotate(-3deg);
}
.pinned-horizontal-section .typewriter-box h3 {
  margin-bottom: 20px;
}
.pinned-horizontal-section small {
  margin-top: auto;
}
/* SECOND SECTION END */
/* THIRD SECTION */
.national-importance {
  position: relative;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.national-importance .text-content {
  padding: 5.56vw 10.76vw;
  display: flex;
  flex-direction: column;
  gap: 1.39vw;
}
.national-importance h2 img {
  height: 5vw;
  scale: 1.4;
  padding-inline: 1.56vw;
}
.national-importance .national-blue-mountain,
.national-importance .national-green-mountain {
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.national-importance .national-blue-mountain {
  left: -15vw;
  width: 40vw;
}
.national-importance .national-green-mountain {
  width: 70vw;
  right: -15vw;
}
.national-importance .yellow-mountain {
  width: 100vw;
  z-index: 10;
  position: relative;
}
.national-importance .yellow-mountain-container {
  margin-top: 22vw;
  position: relative;
  bottom: -1vw;
}
.national-importance .hornbill,
.national-importance .hornbill-bg {
  position: absolute;
  left: 50%;
  top: -70%;
  transform: translate(-50%, -100%);
}
.national-importance .hornbill {
  top: 30%;
}
.national-importance .hornbill-bg {
  animation: slowRotateWithX 60s linear infinite;
}
.sugar-rain {
  position: absolute;
  top: -10vw;
}
.sugar-rain.size-1 {
  width: 10vw;
}
.sugar-rain.size-2 {
  width: 7vw;
}
.sugar-rain.speed-1 {
  animation: rainDrop 13s linear infinite;
}
.sugar-rain.speed-2 {
  animation: rainDrop 7s linear infinite;
}
.sugar-rain.speed-3 {
  animation: rainDrop 3s linear infinite;
}
img.sugar-rain:nth-of-type(1) {
  animation-delay: 1s;
}
img.sugar-rain:nth-of-type(2) {
  animation-delay: 2s;
}
img.sugar-rain:nth-of-type(3) {
  animation-delay: 1.5s;
}
img.sugar-rain:nth-of-type(4) {
  animation-delay: 4.2s;
}
img.sugar-rain:nth-of-type(5) {
  animation-delay: 0.1s;
}
img.sugar-rain:nth-of-type(6) {
  animation-delay: 0.7s;
}
img.sugar-rain:nth-of-type(7) {
  animation-delay: 2.5s;
}
img.sugar-rain:nth-of-type(8) {
  animation-delay: 1s;
}
img.sugar-rain:nth-of-type(9) {
  animation-delay: 0s;
}
@keyframes rainDrop {
  0% {
    transform: translateY(0) rotate(-20deg);
  }
  50% {
    transform: translateY(60vw) rotate(0);
  }
  100% {
    transform: translateY(120vw) rotate(20deg);
  }
}
/* THIRD SECTION END */
/* FOURTH SECTION */
.that-one-company {
  background-color: var(--orange);
  padding-top: 3.33vw;
  position: relative;
  overflow: hidden;
  /* background-image: url(./wp-content/uploads/that-one-company-bg.webp); */
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 10;
}
.that-one-company .top-portion {
  padding-inline: 6.94vw;
}
.that-one-company h2 {
  text-align: center;
}
.that-one-company h2 img {
  height: 0.9em;
  width: auto;
  vertical-align: middle;
  display: inline-block;
}
.that-one-company h2 img.one-o {
  padding-bottom: 2.6vw;
}
.that-one-company h2 img.company-o {
  margin-inline: -4.8%;
  scale: 1.4;
  padding-bottom: 1.5625vw;
}
.that-one-company h4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 35vw;
  padding-left: 2.78vw;
}
.that-one-company h4 .typewriter-box {
  display: inline-flex;
  flex-direction: row;
  white-space: pre;
  rotate: -3deg;
  transform-origin: top left;
}
.pouring-cup-container {
  position: absolute;
  right: -10%;
  top: 900px;
  z-index: 10;
}
.pouring-leaf {
  position: absolute;
  left: 25%;
  top: 20%;
}
.pouring-cup-container img:first-child,
.pouring-cup-container .cover-cup {
  width: 30vw;
}
.pouring-cup-container .cover-cup {
  position: absolute;
  top: 0;
  left: 0;
}
.pouring-cup-container .stream-container {
  position: absolute;
  width: 7.5vw;
  height: 59.5vw;
  top: -39%;
  left: -99%;
  rotate: 60deg;
  z-index: 2;
}
.pouring-cup-container .stream-container {
  width: 7.5vw;
}
.that-one-company .bottom-portion h2 {
  margin-top: 20.67vw;
}
.bottom-portion {
  position: relative;
}
.bottom-portion .purple-card {
  position: absolute;
  width: 16.67vw;
  aspect-ratio: 1;
  top: 10vw;
  right: -50vw;
  transition: all 2s;
}
.that-one-company:has(.poured) .purple-card {
  right: 10vw;
  rotate: 8deg;
}
.bottom-boxes {
  display: flex;
  gap: 37px;
  margin-top: 11.32vw;
}
.bottom-boxes > div {
  width: 50%;
}
.bottom-boxes .yellow-box {
  background-color: var(--yellow);
  padding: 4.17vw 12.28vw 10.61vw 5.83vw;
}
.bottom-boxes .red-box {
  background-color: var(--red);
  margin-block: 9.65vw 7.71vw;
  position: relative;
}
.bottom-boxes .red-box:after {
  height: 7.71vw;
  width: 70%;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./wp-content/uploads/yellow-pattern-under-red-box.webp);
  transform: translateY(100%);
}
.bottom-boxes .red-box img {
  position: absolute;
}
.bottom-boxes .red-box img:first-child {
  width: 24vw;
  top: -20%;
  left: 34%;
  animation: slowRotate 60s linear infinite;
}
@keyframes slowRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.bottom-boxes .red-box img:last-child {
  right: 0;
  top: 50%;
  height: 68%;
  transform: translateY(-50%);
}
img.pouring-photos {
  position: absolute;
  bottom: 0;
  width: 100vw;
  object-fit: cover;
  left: 0;
}
img.pouring-photos:not(.person) {
  z-index: 10;
}
/* FOURTH SECTION END */
/* FIFTH SECTION */
.humbly-priced {
  background: url(./wp-content/uploads/red-pattern.svg) #e14d39;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.humbly-priced .rotating-teh-tarik-container {
  position: absolute;
  height: 100%;
  right: 0;
  width: 50vw;
  object-fit: contain;
}
.humbly-priced .rotating-teh-tarik {
  position: absolute;
  height: 100%;
  width: 100%;
}
.humbly-priced .text-content {
  padding: 6.46vw 20.83vw 0 5.83vw;
  margin-bottom: 12.85vw;
}
.humbly-priced h4 {
  margin-bottom: 1vw;
}
.humbly-priced h2 img {
  padding-bottom: 1.1vw;
  height: 0.9em;
  width: auto;
  vertical-align: middle;
  display: inline-block;
}
.island-section {
  position: relative;
}
.island-section .background {
  height: 16.39vw;
  animation: mountainShuffle 6s ease-in-out infinite reverse;
}
.island-section .foreground {
  height: 10.42vw;
  position: absolute;
  bottom: 0;
  animation: mountainShuffle 6s ease-in-out infinite;
}
@keyframes mountainShuffle {
  0% {
    transform: translateX(0px) scale(1);
  }
  25% {
    transform: translateX(-8px) scale(1.01);
  }
  50% {
    transform: translateX(0px) scale(1);
  }
  75% {
    transform: translateX(10px) scale(1);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
.island-section .text-box {
  position: absolute;
}
.island-section .pink-box {
  background-color: pink;
  left: 13vw;
  bottom: 7vw;
  padding: 1.3vw 1.82vw;
  max-width: 17.7vw;
  rotate: -12deg;
}
.island-section .pink-box .typewriter-box {
  rotate: -6deg;
}
.island-section .lightgreen-box {
  top: -5vw;
  right: 9vw;
  background-color: #90cec7;
  padding: 1.67vw 2.08vw 2.78vw;
  display: flex;
  flex-direction: column;
  gap: 0.56vw;
  max-width: 25vw;
  rotate: -16deg;
}
.island-section .lightgreen-box div:has(.greenbox-text-content) {
  display: flex;
  align-items: flex-start;
  gap: 1.81vw;
}
.island-section .lightgreen-box .greenbox-text-content h4 {
  margin-block: -6% 0;
}
.island-section .yellow-box {
  display: flex;
  background-color: var(--yellow);
  max-width: 28vw;
  top: 10%;
  rotate: 12deg;
  left: 50%;
  transform: translateX(-50%);
  gap: 1.04vw;
  padding: 2.43vw 2.78vw;
}
/* FIFTH SECTION END */
/* SIXTH SECTION */
.television-section {
  background-color: #ed9fa5;
  background-image: url(./wp-content/uploads/television-bg.webp);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}
.television-section > h4 {
  margin-block: 3.75vw;
  text-align: center;
}
.television-frame {
  height: 51.11vw;
  padding: 2vw 33vw 5vw 12vw;
  position: relative;
}
.television-frame::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vw;
  transform: translateY(-95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(./wp-content/uploads/television-antenna.webp);
}
.television-frame:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
  width: 100%;
  height: 51vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(./wp-content/uploads/television-frame.webp);
}
.cards-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.television-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: fit-content;
  position: absolute;
}
.television-card:nth-child(1) {
  top: 10%;
  left: 12%;
  rotate: -2deg;
}
.television-card:nth-child(2) {
  bottom: 60%;
  right: 2%;
  rotate: 5deg;
}
.television-card:nth-child(3) {
  bottom: 48%;
  left: 25%;
  rotate: -5deg;
}
.television-card:nth-child(4) {
  bottom: 35%;
  right: -5%;
  rotate: 15deg;
}
.television-card:nth-child(5) {
  bottom: 25%;
  left: 10%;
  rotate: 10deg;
}
.television-card:nth-child(6) {
  bottom: 5%;
  right: 5%;
  rotate: -5deg;
}
.television-card:nth-child(7) {
  bottom: 0;
  left: 20%;
  rotate: -19deg;
}
.television-card h4 {
  padding: 1.04vw 2.08vw;
}
.television-card img {
  object-fit: cover;
}
/* SIXTH SECTION END */
/* SEVENTH SECTION */
.drink-like-no-other {
  overflow: hidden;
}
.drink-heading {
  text-align: center;
  margin-block: 4.17vw 2.78vw;
}
.drink-like-no-other .bottom-portion {
  position: relative;
  display: flex;
}
.drink-like-no-other .bottom-portion > div {
  flex: 1;
  padding: 3.19vw 4.44vw 11.6vw;
}
.drink-like-no-other .bottom-portion .green-box {
  background-color: #009949;
}
.drink-like-no-other .bottom-portion .green-box h3 {
  padding-left: 1.39vw;
}
.drink-like-no-other .bottom-portion .pattern-box {
  background-color: #009949;
  background-image: url(./wp-content/uploads/yellow-pattern.svg);
  background-size: 100%;
  position: relative;
}
.drink-like-no-other .bottom-portion .pattern-box img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}
.drink-like-no-other .bottom-portion .red-box {
  background-color: #d6322f;
}
.drink-like-no-other .bottom-portion img {
  position: absolute;
}
.drink-like-no-other .bottom-portion .floating-cup {
  left: 50%;
  transform: translateX(-50%);
  bottom: 1vw;
}
.drink-like-no-other .bottom-portion .floating-cup-leaf {
  left: 45%;
  bottom: 10%;
  transform: translateX(-50%) rotate(-20deg);
  transition: all 0.5s;
}
.drink-like-no-other .bottom-portion .floating-cup-starfish {
  right: 45%;
  bottom: 30%;
  transform: translateX(50%) rotate(-20deg);
  transition: all 0.5s;
}
.drink-like-no-other.landed .bottom-portion .floating-cup-leaf {
  left: 42%;
  bottom: 20%;
  transform: translateX(-50%) rotate(-30deg);
}
.drink-like-no-other.landed .bottom-portion .floating-cup-starfish {
  right: 42%;
  bottom: 38%;
  transform: translateX(50%) rotate(-10deg);
}
/* SEVENTH SECTION END */
/* EIGHTH SECTION */
.gold-standard {
  background-color: #c17f33;
}
.gold-standard .top-portion {
  padding: 3.47vw 5.83vw;
}
.gold-standard .top-portion .typewriter-box {
  min-width: 10vw;
}
.gold-standard .top-portion .typewriter-box.yellow {
  rotate: -3deg;
}
.gold-standard .top-portion .typewriter-box.beige {
  left: 3vw;
}
.gold-standard .bottom-portion {
  z-index: 1;
  overflow: hidden;
}
.gold-standard .bottom-portion h2 {
  padding: 4.03vw 5.11vw;
}
.gold-standard .bottom-portion .text-box .parallax-bg {
  width: 100%;
  height: auto;
  aspect-ratio: 1.12;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.gold-standard .bottom-portion .text-box {
  margin-left: 50vw;
  max-width: 22.36vw;
  margin-bottom: 30vw;
}
.gold-standard .bottom-portion .text-box .typewriter-box {
  rotate: -3deg;
  margin-bottom: 2vw;
  align-items: center;
  gap: 1vw;
}
.gold-standard .bottom-portion .text-box .typewriter-box:after {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./wp-content/uploads/mouth-vector.webp);
  width: 2.64vw;
  height: 3.4vw;
  order: -1;
}
/* EIGHTH SECTION END */
/* NINTH SECTION */
.five-gen {
  padding: 4.17vw 0 5.56vw;
  background-image: url(./wp-content/uploads/five-gen-bg.webp);
  background-size: cover;
  min-height: 100vh;
  min-height: 100lvh;
}
.five-gen > h6 {
  text-align: center;
  margin-bottom: 4vw;
}
.staggered-cards-container,
.staggered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31.67vw;
  text-align: center;
}
.staggered-card {
  position: absolute;
  text-align: center;
  display: flex;
  width: 24.58vw;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.staggered-card h4 {
  padding: 2.22vw 1.81vw 0;
}
.staggered-card:nth-child(1) {
  rotate: -5deg;
}
.staggered-card:nth-child(2) {
  rotate: -4deg;
}
.staggered-card:nth-child(3) {
  rotate: -3deg;
}
.staggered-card:nth-child(4) {
  rotate: -2deg;
}
.staggered-card:nth-child(5) {
  rotate: -1deg;
}
.staggered-card:nth-child(6) {
}
.staggered-card:nth-child(7) {
  rotate: 1deg;
}
.staggered-card:nth-child(8) {
  rotate: 2deg;
}
.staggered-card:nth-child(9) {
  rotate: 3deg;
}
.staggered-card:nth-child(10) {
  rotate: 4deg;
}
.staggered-card:nth-child(11) {
  rotate: 5deg;
}
.staggered-card img.footer {
  width: 100%;
}
/* NINTH SECTION END */
/* TENTH SECTION */
.proudly-malaysian .top-portion {
  position: relative;
  background-color: #ed9fa5;
  overflow: hidden;
  padding-bottom: 20vh;
}
.proudly-malaysian .top-portion .text-content {
  padding: 5.14vw 6.11vw 0;
}
.proudly-malaysian .text-content h4 {
  margin-bottom: 1.67vw;
}
.proudly-malaysian .head-with-eyeball {
  opacity: 0;
  pointer-events: none;
}
.proudly-malaysian .line .head-with-eyeball {
  opacity: 1;
  pointer-events: auto;
}
.proudly-malaysian .head-with-eyeball > img {
  height: 0.8em;
}
.head-with-eyeball .eyeball {
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  width: 1.8vw;
  height: 1.8vw;
  background: white;
  border-radius: 50%;
}
.head-with-eyeball .left.eyeball {
  left: 40%;
  top: 46%;
}
.head-with-eyeball .right.eyeball {
  left: 60%;
  top: 46%;
}
.head-with-eyeball .iris {
  width: 30%;
  height: auto;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}
.touching-hands {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100lvh;
}
.touching-hands .hand {
  height: 62.36vw;
  width: 50.1vw;
  object-fit: contain;
  top: 0;
}
.touching-hands .left.hand,
.touching-hands .left.foreground {
  left: 0;
}
.touching-hands .right.hand,
.touching-hands .right.foreground {
  right: 0;
}
.touching-hands .foreground {
  position: absolute;
  bottom: 0;
  height: 10vw;
}
.touching-hands .left.foreground {
  width: 34vw;
}
.touching-hands .right.foreground {
  width: 42vw;
}
.touching-hands .touching-star {
  left: 50%;
  top: 0;
  position: absolute;
  transform: translate(-50%, 20%) scale(0);
  transform-origin: center;
}
.proudly-malaysian .bottom-portion {
  background-color: var(--red);
  /* overflow-x: hidden; */
}
.proudly-malaysian .bottom-portion .text-content {
  padding: 4vw 6vw;
  display: flex;
  gap: 2vw;
}
.proudly-malaysian .bottom-portion .text-content p {
  max-width: 12vw;
}
.proudly-malaysian .bottom-portion .single-chilli {
  position: absolute;
  z-index: 10;
  animation: spinningChilli 12s linear infinite;
}
@keyframes spinningChilli {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
.proudly-malaysian .bottom-portion .single-chilli:nth-child(1) {
  left: -10%;
  top: 50%;
  width: 30vw;
}
.proudly-malaysian .bottom-portion .single-chilli:nth-child(2) {
  right: 30%;
  top: -10%;
  width: 24vw;
}
.proudly-malaysian .bottom-portion .single-chilli:nth-child(3) {
  right: 20%;
  top: 10%;
  width: 14vw;
  scale: -1 1;
}
.proudly-malaysian .bottom-portion .single-chilli:nth-child(4) {
  right: 5%;
  top: 5%;
  width: 14vw;
}
.proudly-malaysian .bottom-portion .exploding-lady {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.proudly-malaysian .bottom-portion .mushroom-cloud {
  width: 100%;
  z-index: 2;
  position: relative;
}
.proudly-malaysian .bottom-portion .flame {
  position: absolute;
  z-index: 0;
  bottom: 0;
  animation: flameFlicker 12s infinite ease-in-out;
  transform-origin: bottom center;
  object-fit: contain;
}
.proudly-malaysian .bottom-portion .left.flame {
  left: 0;
  width: 45vw;
}
.proudly-malaysian .bottom-portion .right.flame {
  right: 0;
  width: 50vw;
}
@keyframes flameFlicker {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(0.97);
    opacity: 0.98;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.94;
  }
  80% {
    transform: scale(0.96);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.lady-with-flame-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.proudly-malaysian .bottom-portion .center.flame {
  /* left: 50%; */
  top: 0;
  margin-top: -20%;
  width: 50vw;
  z-index: 1;
  animation: flameFlicker 8s infinite ease-in-out;
}
.lady-with-flame-container .chilli-teh {
  position: absolute;
  width: 43vw;
  rotate: -6deg;
  z-index: 2;
}
.lady-with-flame-container .middle-lady {
  width: 65vw;
  z-index: 3;
}
/* TENTH SECTION END */
